<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

Student id_1: <input type="checkbox" ng-model="myVar1">
<div ng-show="myVar1">
<p>Last Name: Muzakitis</p>
<p>Name: Spiros</p>

Mark:<input type="checkbox" ng-model="myVar11">
<div ng-show="myVar11">
<p>9</p>
</div>
</div>
<br>

Student id_2: <input type="checkbox" ng-model="myVar12">
<div ng-show="myVar12">
<p>Last Name: Bakara</p>
<p>Name: Persa</p>

Mark:<input type="checkbox" ng-model="myVar22">
<div ng-show="myVar22">
<p>8</p>
</div>
</div>
<br>
Student id_3: <input type="checkbox" ng-model="myVar3">
<div ng-show="myVar3">
<p>Last Name: Sagri</p>
<p>Name: Rania</p>

Mark:<input type="checkbox" ng-model="myVar33">
<div ng-show="myVar33">
<p>9</p>
</div>
</div>

</body>
</html>